// list 
.list_wrapper{
    background: #fff;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    padding: 10px;
}
.list_more{
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}
.list_btn{
    background: #43444a;
    border: none;
    color: white;
    text-transform: none;
    font-weight: bold;
    padding: 0 10px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
    padding: 5px 10px;
    &:hover {
      cursor: pointer;
      background: rgb(0 0 0 / 68%);
    }
}
.rest_list{
    padding: 0 20px;
}
.list_btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// table
.table__wrapper {
    border-radius: 6px;
    width: 100%;
    border-spacing: 0;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    backdrop-filter: blur(10px);
  
    thead th span {
        color: #000000;
        font-weight:400;
        font-size: 14px;
    }
  }

  .table__head .table__row {
    background-color: #f6f8f9;
  }
  .table__head .table__item {
    text-align: left;
    padding: 16px 24px 16px 24px;
  }
  .table__body .table__row {
    border-bottom: 1px solid #eaecf0;
    border-top: 1px solid #eaecf0;
  }
  .table__body .table__item {
    text-align: left;
    padding: 16px 24px 16px 24px;
    font-size: 16px;
    max-width: 250px;
    word-wrap: break-word;
  }
  .table__title {
    color: #000000;
    font-weight:400;
    font-size: 14px;
  }