.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 6px;
  background-color: #fff;
  gap: 15px;
}
.card_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card {
  border: 1px solid grey;
  padding: 15px;
  cursor: pointer;
}
