$mini-phone: 320px;
$phone: 480px;
$table: 768px;
$netbook: 1024px;
$smalldisplay: 1280px;

.table__wrapper {
  border-radius: 6px;
  width: 100%;
  border-spacing: 0;
  background: rgba(255, 255, 255, 0.5);

  backdrop-filter: blur(10px);

  thead th span {
    color: #000000;
    font-weight: 700;
  }
}

.table__item {
  text-align: left;
  padding: 16px 13px 13px 8px;
}

.table__header tr {
  th {
    border-right: 1px solid black;
  }
}
.table__header th:last-child {
  border-right: none;
}

.table__body tr {
  td {
    border-top: 1px solid black;

    border-right: 1px solid black;
  }
}
.table__body td:last-child {
  border-right: none;
}
.table__title {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.titile__wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.select__dropdown {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #000000;
  border-radius: 4px;
  border: none;
  background: transparent;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  font-weight: 700;
  option {
    color: black;
    padding: 30px;
  }
}
.select__dropdown option {
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

.btn_pin {
  background: #43444a;
  border: none;
  color: white;
  text-transform: none;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.3s;
  padding: 5px 15px;
  &:hover {
    cursor: pointer;
    background: rgba(44, 44, 44, 0.68);
  }
}
.btn_pin_close {
  margin-right: 15px;

  background: rgba(219, 32, 32, 0.64);
  border: none;
  color: white;
  text-transform: none;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background: rgba(219, 32, 32, 0.26);
  }
}
.semesters_wrapper {
  border: none;
  border-radius: 6px;
  background: #fff;
  backdrop-filter: blur(10px);
  padding: 15px;
  margin-bottom: 15px;
}

.modal_semester_wrapper {
  max-height: 550px;
  overflow-y: auto;
  padding: 0 10px;
}

.modal_semester_wrapper::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.modal_semester_wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
.modal_semester_wrapper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.607);
  border-radius: 6px;
}

/* Handle on hover */
.modal_semester_wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.941);
}

.semesters_header {
  display: flex;
  gap: 25px;
  padding-bottom: 15px;
}
.modal_footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: $phone) {
  .table__title {
    font-size: 11px;
  }
}
