.item__box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  .item__title {
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    background: gray;
    border-radius: 6px;
  }
}
.size {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}
