.category__parent{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  
}
.category__child{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
  }
  .category__title{
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding: 5px 10px;
    background: #43444a;
    border-radius: 6px;
  }
  .category__publicks{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }